.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right:0;
}

.page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right:0;
  box-shadow: 10px 10px 5px #888888;
  overflow: scroll;
}

.pageContent {
  height: 1000px;
}

.page:nth-child(1) {
  background: green;
}

.page:nth-child(2) {
  background: red;
}

.page:nth-child(3) {
  background: blue;
}

.page:nth-child(4) {
  background: yellow;
}